@tailwind base;
@tailwind components;
@tailwind utilities;

.innerhtml {
    width: 50dvw;
    text-align: left;
    margin: auto;

    h2 {
        font-size: large;
        font-weight: bold;
    }

    h1 {
        font-size: medium;
    }

    b {
        font-weight: bold;
    }

    i {
        font-weight: 500;
        font-style: italic;
    }

    li {
        list-style-type: disc;
        font-size: larger;
    }
}
